$breakpoints: (
  'iphone5': 320px,
  'phone': 380px,
  'phone-medium': 420px,
  'phone-wide': 480px,
  'phablet': 560px,
  'phone-large': 576px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-medium': 992px,
  'tablet-wide': 1024px,
  'desktop': 1200px,
  'desktop-wide': 1440px,
  'desktop-large': 1600px
) !default;

// sass-lint:disable function-name-format
@mixin mq($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
