h1,.u-h1 {
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	font-size: rem(64);
	line-height: 1.15;

	@include mq('tablet') {
		font-size: 40px;
    // margin-bottom: 12px;
	}

	@include mq('phone') {
		font-size: 36px;
	}
}


h2,.u-h2 {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: rem(40);
	line-height: 1.1;
	
	@include mq('phone-large') {
		font-size: 32px;
		line-height: 1;
	}
}
h3,.u-h3 {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: rem(36);
	line-height: 1;
	
	@include mq('phone-large') {
		font-size: 24px;
		line-height: 1.3;
	}
}
h4,.u-h4 {
	font-family: "Inter", sans-serif;
	font-weight: bold;
	font-size: rem(16);
	line-height: 1.2;
}
h5,.u-h5 {
	font-weight: 400;
	font-size: rem(20);
	line-height: 120%;
	color: #6c6c6c;
}
h6,.u-h6 {
	font-family: "Inter", sans-serif;
	font-weight: 300;
	font-size: rem(14);
	line-height: 1.5;
}

p {
	font-family: "Helvetica", sans-serif;
	font-weight: 400;
	font-size: rem(16);
	line-height: 150%;
	color: #fff;
}

.u-text {
	font-family: 'Inter';
	font-style: normal;
	font-weight: normal;
	font-size: rem(16);
	line-height: 1.2;
	text-transform: uppercase;
	color: #2A2424;
}

.is-yellow {
	color: #FFA819;
}

.is-blue {
	color: #1E496C;
}
.is-orange {
	color: #ED753C;
}
.is-bold {
	font-weight: bold;
}
.is-red {
	color: #FF0000;
}

.is-green {
	color: #1ecb27;
}

p, h1, h2, h3, h4, h5, h6, span, div, a {
	font-family: "Helvetica", sans-serif;
}
