.c-input {
	position: relative;
	border-bottom: 1px solid #000;

	&.is-active {
		label {
			top: rem(-5);
			color: #5644F4;
		}
	}

	&.is-invalid {
		label {
			color: #d93b46;
		}
	}

	label {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 700;
		font-size: rem(18);
		line-height: 144%;
		transition: all 0.3s ease;
	}

	input {
		width: 100%;
		border: 0;
		padding: rem(8) 0;
		font-weight: 700;
		font-size: rem(16);
		line-height: 160%;
		position: relative;
		z-index: 2;
		background: transparent;


		&:-webkit-autofill,
		&:-webkit-autofill:hover, 
		&:-webkit-autofill:focus, 
		&:-webkit-autofill:active{
				-webkit-background-clip: text;
				-webkit-text-fill-color: #000;
				transition: background-color 5000s ease-in-out 0s;
				box-shadow: inset 0 0 20px 20px #fff;
		}
	}

	.is-error {
		font-weight: 400;
		font-size: rem(14);
		line-height: 129%;
		color: #d93b46;
		position: absolute;
		bottom: rem(-25);
    left: 0;
	}

	@include mq('tablet') {

		.is-error {
			font-size: 12px;
			bottom: -20px;
		}

		&.is-active {
			label {
				font-size: 14px;
			}
		}

		input {
			font-weight: 700;
			font-size: 16px;
			line-height: 129%;
		}

		label {
			font-size: 16px;
		}
	}
}