.c-lang {
  position: relative;
  margin-left: rem(25);
  padding: rem(22) 0;
  // text-transform: uppercase;
  font-size: rem(16);
  font-weight: 500;
  color: #4F4F4F;
  line-height: 1;

  &__arrow {
    margin-left: rem(10);
    transition: all 0.3s ease;

    svg {
      width: rem(10);
      height: rem(10);
      fill: #4F4F4F;
      path {
        fill: #4F4F4F;
      }
    }
  }

  &__current {
    display: flex;
    align-items: center;
  }

  &__item {
    padding: 8px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    // color: $black;

    &.is-active {
			border-bottom: 1px solid #000;
		}

    // &:hover {
    //   background-color: #F2F2F2;
    // }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__sub {
    // width: rem(70);
    position: absolute;
    z-index: 5;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    padding: 28px;
    visibility: hidden;
    transition: all 0.3s ease;
    background: white;
    box-shadow: 3px 9px 22px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    // span {
    //   display: block;
    // }
  }

  &:hover {
    .c-lang__sub {
      visibility: visible;
      opacity: 1;
      top: 100%;
    }

    .c-lang__arrow {
      transform: rotate(180deg);
    }
  }

  @include mq('phone-large') {
    &__sub {
      width: 70px;
    }

    &__item {
      padding: 8px;
      font-size: 15px;
    }
  }
}