.c-logo {
  font-weight: 400;
  font-size: rem(16);
  line-height: 150%;
  color: #fff; 
  flex-shrink: 0;

  svg {
    display: block;
    width: rem(80);
    height: auto;
  }

  p {
    margin-top: rem(20);
  }
}